{% extends 'layout/columns.html.twig' %}

{% block title %}Cat Page title{% endblock %}

{% block meta %}
    <meta name="description" content="Cat Page description" />
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li><a href="{{ path('home') }}">Home</a></li>
        <li class="active">Cat</li>
    </ul>
{% endblock %}

{% block main %}
    <h1>I'm a cat</h1>
{% endblock %}